version: '3'
services:
  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak-x:15.1.0
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      DEBUG_PORT: '*:8787'
      DEBUG: 'true'
    command: ['start-dev', '--db=h2-file', '--http-enabled=true', '--debug', '-Dkeycloak.import=/tmp/import/test-realm.json,/tmp/import/idp-realm.json']
    ports:
      - 8080:8080
      - 8443:8443
      - 8787:8787
    volumes:
    - ./target/keycloak-home-idp-discovery.jar:/opt/keycloak/providers/keycloak-home-idp-discovery.jar
    - ./src/test/resources/:/tmp/import

